<div class = container>
    <div class="jumbotron p-3 p-md-5 text-dark rounded bg-light">
        <p class="lead text-center raleway p-1 mx-auto">The Jones Family Greener adventures......</p>
        <%= image_tag 'kid_mtn.png', class: "rounded mx-auto d-block"%>
        <p class="text-left raleway p-2"> Coming Soon folks!</p>
    </div>
</div>